.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

#sortMethod {
    float: right;
    width: 225px;
}

option[value=""][disabled] {
    display: none;
}